<body>
    <div class = "body-content">
        <h1> <%= game %> </h1>
        <h2>by <%= programmer %> </h2>
        <br>
        <p><a href = "/">back to home </a></p>
        <p><a href = <%= repositoryUrl %>>see the code</a></p>
    </div>
    <hr>
    <div class = "body-content">
        <div id = "game-section">
            <div id = "game"></div>
            <div id = "high-scores">
                <h2><u>HIGH SCORES:</u></h2>
                <table>
                <% for (var i = 0; i < top10Scores.length; i ++){ %>
                    <tr>
                        <th><%= i+1 %>.</th>
                        <th><%= top10Scores[i].initials %></th>
                        <th><%= top10Scores[i].score %></th>
                    </tr>
                <% } %> 
                </table>
                <a href="/high_scores"> all high scores </a>
            </div>
        </div>
    </div>
</body>